spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fullstackApiDatabase?createDatabaseIfNotExist=true
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show_sql: true